{% extends "base.html" %}

{% block body %}
  <!-- !PAGE CONTENT! -->
  <div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity">
      <h1 class="w3-xlarge">get your digital course schedule today</h1>
      <h1><a style="color: #8f001a;" href="index.html">Scheduley</a></h1>

      <div class="w3-padding-32">
        <div class="w3-bar w3-border">
          <a href="#" class="w3-bar-item w3-button">Home</a>
          <a href="#instructions" class="w3-bar-item w3-button w3-light-grey">Instructions</a>
          <a href="#footer" class="w3-bar-item w3-button">Contact</a>
        </div>
      </div>
    </header>

    <!-- Instructions -->
    <div id="instructions" class="w3-row-padding" style="padding: 128px 16px">
      <div class="container-fluid">
      	<div class="row">
          <!-- Step 1 -->
          <div class="col-md-4">
            <p style="padding-left:30%">
              1) Log into <a href="https://uozone2.uottawa.ca/">uoZone</a>
            </p>
            <img style="height:500px;" alt="uoZone" src="https://i.ibb.co/PwvCz7z/Screenshot-2020-11-21-at-11-51-10-PM.png" class="rounded" />
          </div>

          <!-- Step 2 -->
          <div class="col-md-4">
            <p style="margin-left: -29px;">
              2) Take a screenshot of your Class Schedule. *Uncheck "Show AM/PM"
            </p>
            <p style="margin-left: -60px;">
              <img style="height:500px; width:600px;" alt="uncheck weekends and AM/PM" src="https://i.ibb.co/RvHsJtH/schedulewinter2020.png" class="rounded" />
            </p>
          </div>

          <!-- Step 3 -->
          <div class="col-md-4">
            <form action="{{ url_for('create_calendar_schedule') }}" method="post" style="text-align: center; margin-left:40px;" role="form" enctype="multipart/form-data">
              <div class="form-group">

                <label for="scheduleScreenshot">
                  3) Upload Course Schedule Screenshot
                </label>
                <input name="scheduleFile" style="padding-left: 125px;" class ="centeredField" type="file" class="form-control-file" id="scheduleScreenshot" /><br><br> <br><br><br><br><br>
                <p class="help-block">
                  4) Enter the academic term and year below
                </p>
              </div>

              <div>
              <div style="text-align: left; margin-left: 160px;" class="radiobutton">
                <label>
                  <input type="radio" id="fall" value="Fall" name="term">
                  <label for="fall">Fall</label><br>
                  <input type="radio" id="winter" value="Winter" name="term">
                  <label for="winter">Winter</label><br>
                  <input type="radio" id="summer" value="Summer" name="term">
                  <label for="summer">Summer</label><br>
                </label>
              </div>
              <div class="textfield">
                <input type="number" id="year" name="year" placeholder="enter term year here" ><br><br>
              </div>
              </div>
              <br><br><br><br>
              <p class="help-block">
                Enjoy your Digital Schedule!
              </p>
              <button type="submit" style="background-color: #8f001a;" class="btn btn-primary">
                Submit
              </button>
            </form>
          </div>

        <!-- End Row -->
      	</div>
      <!-- End Bootstrap Container -->
      </div>
      <!-- End Page Content -->
    </div>
{% endblock %}
