<!DOCTYPE html>
<html>
  <head>
    <title>Scheduley</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
    body,h1,p,a {font-family: "Segoe UI" , "Segoe" , "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif}
    h1 {letter-spacing: 6px}
    .w3-row-padding img {margin-bottom: 12px}
    .centeredField .cf-field {
      text-align:center;
    }
    </style>
  </head>
  <body>

  <!-- !PAGE CONTENT! -->
  <div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity">
      <h1 class="w3-xlarge">get your digital course schedule today</h1>
      <h1>Scheduley</h1>

      <div class="w3-padding-32">
        <div class="w3-bar w3-border">
          <a href="#" class="w3-bar-item w3-button">Home</a>
          <a href="#instructions" class="w3-bar-item w3-button w3-light-grey">Instructions</a>
          <a href="#footer" class="w3-bar-item w3-button">Contact</a>
        </div>
      </div>
    </header>

    <!-- Instructions -->
    <div id="instructions" class="w3-row-padding" style="padding: 128px 16px">
      <div class="container-fluid">
      	<div class="row">
          <!-- Step 1 -->
          <div class="col-md-4">
            <p style="padding-left:30%">
              1) Log into <a href="https://uozone2.uottawa.ca/">uoZone</a>
            </p>
            <img style="height:500px;" alt="uoZone" src="https://i.ibb.co/PwvCz7z/Screenshot-2020-11-21-at-11-51-10-PM.png" class="rounded" />
          </div>

          <!-- Step 2 -->
          <div class="col-md-4">
            <p style="margin-left: -29px;">
              2) Take a screenshot of your Class Schedule. *Uncheck "Show AM/PM"
            </p>
            <p style="margin-left: -60px;">
              <img style="height:500px; width:600px;" alt="uncheck weekends and AM/PM" src="https://i.ibb.co/RvHsJtH/schedulewinter2020.png" class="rounded" />
            </p>
          </div>

          <!-- Step 3 -->
          <div class="col-md-4">
            <form action="{{ url_for('return_calendar_schedule') }}" method="post" style="text-align: center; margin-left:40px;" role="form">
              <div class="form-group">

                <label for="scheduleScreenshot">
                  3) Upload Course Schedule Screenshot
                </label>
                <input name="scheduleFile" style="padding-left: 125px;" class ="centeredField" type="file" class="form-control-file" id="scheduleScreenshot" /><br><br> <br><br><br><br><br>
                <p class="help-block">
                  4) Enter the academic term and year below
                </p>
              </div>

              <div>
              <div style="text-align: left; margin-left: 160px;" class="radiobutton">
                <label>
                  <input type="radio" id="fall" value="Fall" name="term">
                  <label for="fall">Fall</label><br>
                  <input type="radio" id="winter" value="Winter" name="term">
                  <label for="winter">Winter</label><br>
                  <input type="radio" id="summer" value="Summer" name="term">
                  <label for="summer">Summer</label><br>
                </label>
              </div>
              <div class="textfield">
                <input type="number" id="year" name="year" placeholder="enter term year here" ><br><br>
              </div>
              </div>
              <br><br><br><br>
              <p class="help-block">
                Enjoy your Digital Schedule!
              </p>
              <button type="submit" style="background-color: #8f001a;" class="btn btn-primary">
                Submit
              </button>
            </form>
          </div>

        <!-- End Row -->
      	</div>
      <!-- End Bootstrap Container -->
      </div>
      <!-- End Page Content -->
    </div>

    <!-- Footer -->
    <footer id="footer" class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
      <a href="mailto:kdube076@uottawa.ca"><i class="fa fa-envelope w3-hover-opacity"></i></a>
      <a href="https://github.com/kishdubey/scheduley"><i class="fa fa-github w3-hover-opacity"></i></a>
      <a href="https://www.linkedin.com/in/kishdubey/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>

      <p>made with <i class="fa fa-heart"></i> by <a href="https://www.kishdubey.me/">kish</a><br> s/o to <a href="https://www.w3schools.com/w3css/w3css_templates.asp">w3.css</a> for the css</p>
    </footer>

  </body>
</html>
