{% extends "base.html" %}

{% block body %}
<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-panel w3-center w3-opacity">
    <h1 class="w3-xlarge">your digital course schedule is ready, download below</h1>
    <h1><a style="color: #8f001a;" href="index.html">Scheduley</a></h1>

  </header>

  <!-- Instructions -->
  <div id="instructions" class="w3-row-padding" style="padding: 190px 16px">
    <div class="container-fluid">
      <div class="row">
        <div style="margin-left:623px;">
          <button class="btn"><i style="color:white;"class="fa fa-download"></i><a style="color: white; margin-left:5px;" href="/static/image/uploads/timetable.ics" download="timetable.ics">Download</a></button>
        </div>

      <!-- End Row -->
      </div>
    <!-- End Bootstrap Container -->
    </div>
    <!-- End Page Content -->
  </div>
{% endblock %}
